<p class="description">Search for your favorite bands. Follow them and see all their upcoming albums as soon as they're announced!</p>

<form class="row">
  <h3 class="three columns offset-by-one search-title">Artist/Band Name:</h3>
  <input ng-model="query"type="text" name="artist" />
  <button ng-click="search()">Search</button>
  <div class="">
    <h6 class="search" ng-show="artists != null">{{found}}</h6>
  </div>
</form>


<div class="row">
  <h4 class="two columns offset-by-one search underline">Name</h4>
  <h4 class="two columns search underline">Disambiguation</h4>
  <h4 class="two columns search underline">Area</h4>
  <h4 class="two columns search underline">Origin Date</h4>
  <h4 class="two columns search underline">Add To Your List</h4>

</div>

<div ng-repeat="artist in artists" ng-class="{even: $even, odd: $odd}">
  <div class="row">
    <h6 class="two columns offset-by-one search">{{artist.name}}</h6>
    <h6 class="two columns search">{{artist.disambiguation}}</h6>
    <h6 class="two columns search">{{artist.area.name}}</h6>
    <h6 class="two columns search">{{artist['life-span'].begin}}</h6>
    <button class="two columns search follow" ng-click="follow(artist._id, artist.name)">Follow</button>
  </div>
</div>
