<p>{{message}}</p>
<div>
  <p ng-if="userName != ''">Signed in as: {{userName}}</p>
  <button ng-if="userName != ''" ng-click="logout()">Log Out</button>
</div>

<button ng-click="searchTodaysAlbums()">Request Album</button>

<div class="row">
  <h4 class="two columns">Artist</h4>
  <h4 class="two columns">Title</h4>
  <h4 class="two columns">Record Label</h4>
</div>

<div class="todaysalbums" ng-repeat="album in albums">
  <div class="row">
    <h5 class="two columns">{{album['artist-credit']['name-credit'].artist.name}}</h5>
    <h5 class="two columns">{{album.title}}</h5>
    <h5 class="two columns">{{album['label-info-list']['label-info'].label.name}}</h5>
  </div>
</div>
