<div class="row">
  <h3 class="twelve columns">New Albums Out Today - {{date}}</h3>
</div>

<div class="row header">
  <h5 class="four columns underline">Artist</h5>
  <h5 class="four columns underline">Title</h5>
  <h5 class="four columns underline">Record Label</h5>
</div>

<div class="todaysalbums" ng-repeat="album in sortedAlbums">
  <div class="row">
    <h5 class="four columns">{{album['artist-credit']['name-credit'].artist.name}}</h5>
    <h5 class="four columns">{{album.title}}</h5>
    <h5 class="four columns">{{album['label-info-list']['label-info'].label.name}}</h5>
  </div>
</div>
