<div class="row user-info">
  <p class="three columns">Signed in as: {{userName}}</p>
  <p class="two columns offset-by-seven right">Tracking _ artists.</p>
</div>

<h1>Followed Artists</h1>

<div class="row">
  <h2 class="six columns">New Music Forecast</h3>
</div>

<!-- empty div used while loading followed artists-->
<div class="loading">
  <img src="loading-spinner.png" />
</div>

<article class="Row">
  <section ng-repeat="newalbum in anticipatedAlbums | orderBy : date">
    <section class="forecast">
      <img class="album-image" src="../styles/images/sunnyresize.jpg" />
      <p class="date" name="date">{{newalbum.date._d | date:'MM/dd/yyyy'}}</p>
      <p class="info">Artist:</p>
      <p class="artist" name="artist">{{newalbum['artist-credit']['name-credit'].artist.name}}</p>
      <p class="info">Album:</p>
      <p class="album" name="album">{{newalbum.title}}</p>
    </section>
  </section>
</article>

<section class="artists-list">
  <h6 >Followed Artists</h6>
  <div ng-repeat="artist in myArtists | orderBy : artist">
    <p class="list">{{artist}}</p>
  </div>
</section>
