<div class="row">
  <h3 class="twelve columns">New Music Forecast</h3>
</div>

<div class="row" ng-if="isError == true">
  <h5 class="six columns offset-by-one">{{error}}</h5>
  <button class="two columns" ng-click="refresh(failed)">Reload</button>
</div>

<!-- empty div used while loading followed artists-->
<div class="row">
  <figure id="container"></figure>
</div>

<article class="Row">
  <section class="artists-list forecast">
    <h6 class="underline white">Followed Artists</h6>
    <div ng-repeat="artist in myArtists | orderBy : artist">
      <p class="list">{{artist}}</p>
    </div>
  </section>

  <section ng-repeat="newalbum in anticipatedAlbums | orderBy : 'date._d'">
    <section class="forecast">
      <img class="album-image" src="../styles/images/sunnyresize.jpg" />
      <p class="date" name="date">{{newalbum.date._d | date:'MM/dd/yyyy'}}</p>
      <p class="info">Artist:</p>
      <p class="artist" name="artist">{{newalbum['artist-credit']['name-credit'].artist.name}}</p>
      <p class="info">Album:</p>
      <p class="album" name="album">{{newalbum.title}}</p>
    </section>
  </section>
</article>
